WRITE_DATABASE_HOST=localhost
WRITE_DATABASE_PORT=5432
WRITE_DATABASE_USER=changeme
WRITE_DATABASE_PASSWORD=changeme
WRITE_DATABASE_NAME=changeme

READ_DATABASE_HOST=localhost
READ_DATABASE_PORT=5432
READ_DATABASE_USER=changeme
READ_DATABASE_PASSWORD=changeme
READ_DATABASE_NAME=changeme

PORT=3001
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000